body {
  color: white;
}
.game-modes-container {
  display: flex;
  gap: 30px;
  margin-top: 30px;
}

.game-mode-solo:hover,
.game-mode-online:hover {
  transform: scale(1.03);
}

.game-mode-solo,
.game-mode-online {
  transition: 200ms ease-in-out;
  border: 1px solid cyan;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 5px;
  cursor: pointer;
  background-image: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/images/singleplayer.png");

  height: 250px;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  width: 250px;
}

.game-mode-online {
  background: linear-gradient(rgba(0, 0, 0, 0.5), rgba(0, 0, 0, 0.5)),
    url("../../assets/images/multiplayer.png");
  background-position: center;
  background-size: contain;
  background-repeat: no-repeat;
}

@media (max-width: 800px) {
  .game-mode-solo,
  .game-mode-online {
    height: 150px;
    width: 150px;
  }
}
