.game-wrapper {
  gap: 20px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.game-title {
  color: greenyellow;
}
.game-header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  width: 300px;
  color: #ffeb3b;
  font-size: bold;
}

.game-header-player {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 5px;
}

.game-header-playername {
  font-size: 18px;
}
.game-header-turn {
  font-size: 1.1rem;
}
.game-roomid span{
color: greenyellow;
}
.avatar {
  border-radius: 50%;

  height: 70px;
}

.game-grid {
  text-align: center;
  display: grid;
  width: 310px;
  gap: 3px;
  grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
}
.game-waitingtext {
  margin-top: 15px;
}
.game-waitingtext {
  font-size: 1.5rem;
}
@media only screen and (min-width: 800px) {
  .game-title {
    font-size: 2.4rem;
  }
  .game-waitingtext {
    font-size: 2.4rem;
  }
  .game-grid {
    text-align: center;
    display: grid;
    width: 370px;
    height: 370px;

    gap: 3px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
  }
  .game-header {
    width: 370px;
  }
  .game-header-winner {
    font-size: 1.8rem;
  }
  .game-header-score {
    font-size: 2.4rem;
  }
  .game-header-turn {
    font-size: 1.4rem;
  }
  .avatar {
    height: 80px;
  }
}

.reload-button {
  margin-top: 5px;

  transition: transform 0.7s ease-in-out;
}
.reload-button:hover {
  transform: rotate(360deg);
}

.credits-div {
  color: white;
  position: absolute;
  bottom: 0;
  border: 1px sold cyan;
  text-align: center;
  font-size: 1.2rem;
  padding: 15px;
}
.credits {
  display: flex;
  align-items: center;
  justify-content: center;
  gap: 8px;
  padding: 10px;
}
.credits svg {
  margin-bottom: 2px;
}

.credits a {
  text-decoration: none;
  font-family: Arial, Helvetica, sans-serif;

  color: white;
  font-size: 1.2rem;
}
