.portal-wrapper {
  display: flex;
  width: 100vw;
  height: 100vh;
  align-items: center;
  padding: 10px;
  justify-content: center;
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: linear-gradient(rgba(0, 0, 0, 0.6), rgba(0, 0, 0, 0.6)),
    url("../../assets/images/roomportalbg.jpg");
}

.portal-wrapper-bg {
  width: 55%;
  display: none;
  height: 100%;
  filter: brightness(40%);
}

.portal {
  width: 45%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 8px;
}

.portal input {
  width: 100%;
  padding-top: 15px;
  padding-bottom: 15px;
  padding-right: 100px;
  padding-left: 20px;

  outline: none;
  border: none;
  border-radius: 5px;
}

.portal button {
  outline: none;
  color: white;
  border: none;
  background-color: #fc4747;
  padding: 12px 18px;
  border-radius: 5px;
}

.portal h1 {
  padding: 0;
  margin: 0;
}

.portal div {
  display: flex;
  flex-direction: column;
  gap: 5px;
}

@media (max-width: 800px) {
  .portal-wrapper-bg {
    display: none;
  }
  .portal {
    width: 100%;
  }
}
